/*
.wy-nav-top: top box in mobile view
.wy-side-nav-search: top left box in nav bar
.wy-side-nav-search > a:hover: no hover highlight
*/

/* broader content area */
.wy-nav-content {
    max-width: 1000px;
}

/* top left project name -> bigger */
.wy-side-nav-search > a.icon.icon-home {
    font-size: 160%;
}

/* all boxes for headings same width */
html.writer-html4 .rst-content dl:not(.docutils) > dt, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) > dt{
    display: block !important;
}






